<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="com.next.isam.appserver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <com.next.isam.appserver.Properties.Settings>
            <setting name="com_next_isam_appserver_QAIS_ClaimRequestService"
                serializeAs="String">
                <value>http://ns-s02/qais/webservices/ClaimRequestService.asmx</value>
            </setting>
        </com.next.isam.appserver.Properties.Settings>
    </applicationSettings>
</configuration>