<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="com.next.isam.reporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="com.next.isam.reporter.Properties.Settings.ISAMConnectionString"
            connectionString="Data Source=NSLT3;Initial Catalog=ISAM;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="com.next.isam.reporter.Properties.Settings.ISAMConnectionString1"
            connectionString="Data Source=[NS-DB04];Initial Catalog=ISAM;User ID=sa;Password=797836s#s"
            providerName="System.Data.SqlClient" />
        <add name="com.next.isam.reporter.Properties.Settings.ISAM_20090428ConnectionString"
            connectionString="Data Source=NSLDB04;Initial Catalog=ISAM_20090428;User ID=sa;Password=797836s#s"
            providerName="System.Data.SqlClient" />
        <add name="com.next.isam.reporter.Properties.Settings.ISAM_20091215ConnectionString"
            connectionString="Data Source=NSLDB04;Initial Catalog=ISAM_20091215;Persist Security Info=True;User ID=sa;Password=797836s#s"
            providerName="System.Data.SqlClient" />
        <add name="com.next.isam.reporter.Properties.Settings.ISAM_20100422ConnectionString"
            connectionString="Data Source=NSLDB04;Initial Catalog=ISAM_20100422;User ID=sa;Password=797836s#s"
            providerName="System.Data.SqlClient" />
        <add name="com.next.isam.reporter.Properties.Settings.ISAM_20101025ConnectionString"
            connectionString="Data Source=NSLDB04;Initial Catalog=ISAM_20101025;User ID=sa;Password=797836s#s"
            providerName="System.Data.SqlClient" />
        <add name="com.next.isam.reporter.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLOLEDB;Data Source=NSLDB04;Persist Security Info=True;Password=797836s#s;User ID=sa;Initial Catalog=ISAM"
            providerName="System.Data.OleDb" />
        <add name="com.next.isam.reporter.Properties.Settings.ISAM20100423"
            connectionString="Provider=SQLOLEDB;Data Source=NSLDB04;Persist Security Info=True;Password=797836s#s;User ID=sa;Initial Catalog=ISAM_20100423"
            providerName="System.Data.OleDb" />
        <add name="com.next.isam.reporter.Properties.Settings.ConnectionString1"
            connectionString="Provider=SQLOLEDB;Data Source=NSLDB01;Persist Security Info=True;Password=797836s#s;User ID=sa;Initial Catalog=QCIS"
            providerName="System.Data.OleDb" />
        <add name="com.next.isam.reporter.Properties.Settings.ISAMNSS04"
            connectionString="Data Source=[NS-DB04];Initial Catalog=ISAM;User ID=sa;Password=797836s#s" />
        <add name="com.next.isam.reporter.Properties.Settings.ISAMConnectionString2"
            connectionString="Data Source=NS-DB04;Initial Catalog=ISAM;Persist Security Info=True;User ID=sa;Password=797836s#s"
            providerName="System.Data.SqlClient" />
        <add name="com.next.isam.reporter.Properties.Settings.ConnectionString2"
            connectionString="Provider=SQLOLEDB;Data Source=NS-DB04;Integrated Security=SSPI;Initial Catalog=ISAM"
            providerName="System.Data.OleDb" />
        <add name="com.next.isam.reporter.Properties.Settings.ISAMConnectionString3"
            connectionString="Data Source=ns-db04;Initial Catalog=ISAM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup><applicationSettings>
        <com.next.isam.reporter.Properties.Settings>
            <setting name="com_next_isam_reporter_QAIS_ClaimRequestService"
                serializeAs="String">
                <value>http://ns-s02/qais/webservices/ClaimRequestService.asmx</value>
            </setting>
        </com.next.isam.reporter.Properties.Settings>
    </applicationSettings>
</configuration>
